<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fl.recorder">

    <!-- 录音权限   -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 麦克风权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_HOTWORD"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_MEDIA_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_TUNER_AUDIO_INPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT"
        tools:ignore="ProtectedPermissions" />


    <!--媒体投影-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--电池优化-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowAudioPlaybackCapture="true"
        tools:targetApi="q">
        <service
            android:name=".MicrophoneAudioRecordService"
            android:enabled="true"
            android:foregroundServiceType="microphone" />
        <service
            android:name=".MediaProjectionAudioRecordService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
